<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>电商网站-100du </title>
	<link href="css/reset.css" rel="stylesheet" />
	<link href="img/100du.ico" rel="stylecut icon" />
</head>
<body>
	
	<div id="header" class="gradient">

		<p class="city fl">
			切换城市：
			<a href="#" class="active">北京</a>
			<a href="#">上海</a>
			<a href="#">福州</a>
			<a href="#">广州</a>
			<a href="#">青岛</a>
		</p>
		<p class="link">
			<a href="#" class="ico1">加盟100度</a>
			|
			<a href="#" class="ico2">店铺管理</a>
		</p>
		
	</div>

	<div id="nav">
		<ul class="nav_l">
			<li><a class="bg1" href="#">美食</a></li>
			<li><a class="bg2" href="#">夜店</a></li>
			<li><a class="bg3" href="#">购物</a></li>
			<li><a class="bg4" href="#">文化</a></li>
			<li><a class="bg5" href="#">休闲</a></li>
		</ul>

		<h1><a href="#" alt=""><img src="img/nav_logo.png" /></a></h1>

		<ul class="nav_r">
			<li><a class="bg6" href="#">烧客空间</a></li>
			<li><a class="bg7" href="#">知道分子</a></li>
			<li><a class="bg8" href="#">白吃白拿</a></li>
			<li><a class="bg9" href="#">烧客论坛</a></li>
			<li><a class="bg10" href="#">企业俱乐部</a></li>
		</ul>

	</div>

	<div id="search" class="gradient">
	<div class="search_img"></div>
		
		<div class="bar">

			<ul class="menu" id="menu">
				<li class="active">搜店</li>
				<li class="gradient">地址</li>
				<li class="gradient">优惠券</li>
				<li class="gradient">全文</li>
				<li class="gradient">视频</li>
			</ul> 

		</div>

		<div class="form" id="form">
				<form action="#">
					<input class="text" type="text" value="例如：荷棠鱼坊烤鱼 或 樱花日本料理"  onfocus="if(this.value=='例如：荷棠鱼坊烤鱼 或 樱花日本料理'){this.value=' ';this.className='colorBlack'}" onblur="if(this.value==''){
					this.value='例如：荷棠鱼坊烤鱼 或 樱花日本料理'
					;this.className='text'}" />
					<input  class="sub" type="submit" value="" />
				</form>
		</div>

		<p class="key_text"> 
			<a href="#">金钱豹</a>、<a href="#">大江南</a>、<a href="#">湘水之珠</a>、<a href="#">德瑀楼</a>、<a href="#">荷棠鱼坊烤鱼</a>、<a href="#">SOHO尚都</a>、<a href="#">湘味楼</a>...
		</p>

		<div class="update" id="update">
			<div class="cont">
				<ul>
					<li><a href="#"><strong>萱萱</strong> <span>5分钟前</span>写了一篇新文章：那些灿烂华美的瞬间...</a>
					</li>
					<li><a href="#"><strong>小明</strong> <span>20分钟前</span>写了一篇新文章：那些灿烂华美的瞬间...</a>
					</li>
				</ul>
			</div>
			<a href="javascript:;" class="triangle_up" id='date_up'></a>
			<a href="javascript:;" class="triangle_down_red" id='date_down'></a>
		</div>		
	</div>

	<div class="content clear">
		<div class="main fl">
			<div class="clear ">		
				<div class="section fl">
					<h2 class="video_title">WHAT<sup>,</sup> HOT</h2>
					<div class="video">
						<img src="img/video_play.gif" />
					</div>
					<ul class="video_list">
						<li><a href="#">现场实录：杭州机场国航系统崩溃</a></li>
						<li><a href="#">网友自拍国航航班晚点后的遭遇</a></li>
						<li><a href="#">
						[拍客]绝对最奢侈的航班，请注意第41秒</a></li>
					</ul>

				</div>

				<div class="options fr" id='options'>
					<ul class="tab" >
						<li class="active fl">
						<strong>HOT SHOP <span> 红店铺</span></strong>
						<a href="javascript:;" class="triangle_down_red"></a>
						</li>
						<li class="gradient fl">
							<strong>EW SHOP <span> 新开张</span></strong>
							<a href="javascript:;" class="triangle_down_gray"></a>
						</li>
					</ul>
						<div class="con">
							<div class="list_hot" id="tabcont">
								<ul>
									<li>
										<a  class="hot_img" href="#" >
										<img src="img/list_hot.gif" alt="内容图片" />
										<img  class="sale_20"src="img/sale_20.gif" />
										</a>
										<div class="hot_text">
											<h3><a href="#">御舟和涵珍园国际酒店</a></h3>
											<p>
												区域：朝阳/CBD<br/>
												人均：180元<br/>
												人气：12321
											</p>
										</div>
									</li>
									<li>
										<a  class="hot_img" href="#" >
										<img src="img/list_hot.gif" alt="内容图片" />
										</a>
										<div class="hot_text">
											<h3><a href="#">御舟和涵珍园国际酒店</a></h3>
											<p>
												区域：朝阳/CBD<br/>
												人均：180元<br/>
												人气：12321
											</p>
										</div>
									</li>
									<li>
										<a  class="hot_img" href="#" >
										<img src="img/list_hot.gif" alt="内容图片" />
										</a>
										<div class="hot_text">
											<h3><a href="#">御舟和涵珍园国际酒店</a></h3>
											<p>
												区域：朝阳/CBD<br/>
												人均：180元<br/>
												人气：12321
											</p>
										</div>
									</li>
								</ul>
								<ul style="display:none">
									<li>
										<a  class="hot_img" href="#" >
										<img src="img/hot_list1.gif" alt="内容图片" />
										<img  class="sale_20"src="img/sale_20.gif" />
										</a>
										<div class="hot_text">
											<h3><a href="#">御舟和涵珍园国际酒店</a></h3>
											<p>
												区域：朝阳/CBD<br/>
												人均：180元<br/>
												人气：12321
											</p>
										</div>
									</li>
									<li>
										<a  class="hot_img" href="#" >
										<img src="img/hot_list1.gif" alt="内容图片" />
										</a>
										<div class="hot_text">
											<h3><a href="#">御舟和涵珍园国际酒店</a></h3>
											<p>
												区域：朝阳/CBD<br/>
												人均：180元<br/>
												人气：12321
											</p>
										</div>
									</li>
									<li>
										<a  class="hot_img" href="#" >
										<img src="img/hot_list1.gif" alt="内容图片" />
										</a>
										<div class="hot_text">
											<h3><a href="#">御舟和涵珍园国际酒店</a></h3>
											<p>
												区域：朝阳/CBD<br/>
												人均：180元<br/>
												人气：12321
											</p>
										</div>
									</li>
								</ul>
								<a  class="more" href="#" title="更多"><img src="img/more.gif" /></a>
							</div>

						</div>

				</div>
			</div>

			<div class="main_ad">
				<img src="img/main-ad.png"/>
			</div>

			<div class="clear act_rec">		
				<div class="activity">
					<h2 class="new_title">
						<strong>LUCKY YODAY</strong>
						<span>每日活动</span>
						<em>2014.2</em>
					</h2>
					<div class="actCon clear">
						<div class="info clear">
							<div class="act_img">
								<img src="img/act.gif" />
							</div>
							<div class="act_text">
								<h3>
									<em>02</em>
									<em>07</em>
									<span>本日主题XXXXX</span>
								</h3>
								<p>迟到的荣誉——维米尔的写实主义风俗画迟到的荣誉，维米尔的写实主义风俗画迟到的荣誉</p>
							</div>
						</div>
						<div class="calendar">
							<h3>
								<span>MON</span>
								<span>TUE</span>
								<span>WEd</span>
								<span>THU</span>
								<span>FRI</span>	
								<span>SAT</span>
								<span>SUN</span>
							</h3>
							<ol>
								<li class="normal">29</li>
								<li class="normal">30</li>
								<li>1</li>
								<li>2</li>
								<li>3</li>
								<li>4</li>
								<li>5</li>
								<li>6</li>
								<li>7</li>
								<li>8</li>
								<li>9</li>
								<li>10</li>
								<li>11</li>
								<li>12</li>
								<li>134</li>
								<li>14</li>
								<li>15</li>
								<li>16</li>
								<li>17</li>
								<li>18</li>
								<li>19</li>
								<li>20</li>
								<li>21
								<img class="active" src="img/today_bg1.gif"/></li>
								<li>22</li>
								<li>23</li>
								<li>24
								<img class="img" src="img/today_bg2.gif"/></li>
								<li>25</li>
								<li>26</li>
								<li>27</li>
								<li>28</li>
								<li>29</li>
								<li>30</li>
								<li>1</li>
								<li>2</li>
								<li>3</li>
								<li>4</li>
								<li>5</li>
								<li>6</li>
								<li>7</li>
								<li>8</li>
								<li>9</li>
							</ol>
							<div class="today_info">
								<div class="img">
									<img src="img/today_bg2.gif" />
								</div>
								<div class="text">
								<h4><strong>FRI</strong>本日主题XXXX</h4>
								<p>迟到的荣誉——维米尔的写实主义风俗画迟到的荣誉，维米尔的写实主义风俗画迟到的荣誉</p>
								</div>
								<span></span>
							</div>
						</div>
					</div>
				</div>
			
				<div class="recommend">
					<h2 class="new_title">
						<strong>RECOMMEND</strong>
						<span>精彩推荐</span>
					</h2>
						<div class="autoPic">
						<ul>
							<li><a href="#"><img src="img/autoPic1.gif" /></a></li>
							<li ><a href="#"><img src="img/autoPic2.gif" /></a></li>
							<li><a href="#"><img src="img/autoPic3.gif" /></a></li>
						</ul>
						<ol>
							<li class="active"><a href="#"><img src="img/autoPic1.gif" /></a></li>
							<li><a href="#"><img src="img/autoPic2.gif" /></a></li>
							<li><a href="#"><img src="img/autoPic3.gif" /></a></li>
						</ol>
						<p>爸爸去哪儿~</p>
						</div>
						<div class="recomm_list">
							<ul>
								<li><img src="img/list_pic1.gif"/><span>|</span><a href="#">老店换新颜，丰泽园野田重张亮亮相...</a><em>08/07/22</em></li>
								<li><img src="img/list_pic2.gif"/><span>|</span><a href="#">生活中那些商品的包装有缺陷</a><em>08/07/22</em></li>
								<li><img src="img/list_pic1.gif"/><span>|</span><a href="#">老店换新颜，丰泽园野田重张亮亮相...</a><em>08/07/22</em></li>
								<li><img src="img/list_pic2.gif"/><span>|</span><a href="#">生活中那些商品的包装有缺陷</a><em>08/07/22</em></li>
								<li><img src="img/list_pic1.gif"/><span>|</span><a href="#">老店换新颜，丰泽园野田重张亮亮相...</a><em>08/07/22</em></li>
								<li><img src="img/list_pic2.gif"/><span>|</span><a href="#">生活中那些商品的包装有缺陷</a><em>08/07/22</em></li>
								<li><img src="img/list_pic1.gif"/><span>|</span><a href="#">老店换新颜，丰泽园野田重张亮亮相...</a><em>08/07/22</em></li>
								<li><img src="img/list_pic2.gif"/><span>|</span><a href="#">生活中那些商品的包装有缺陷</a><em>08/07/22</em></li>
							</ul>
						</div>
				</div>
			</div>

			<div class="clear">		
				<div class="options fl" id="options1">
					<ul class="tab" id="tabNav2" >
						<li class="active fl">
							<strong>SUBWAY <span>地铁交通</span></strong>
							<a href="javascript:;" class="triangle_down_red"></a>

						</li>

						<li class="gradient fl">
							<strong>MAP <span>生活圈</span></strong>
							<a href="javascript:;" class="triangle_down_gray"></a>
						</li>
					</ul>

					<div class="con" id='tabcont2'>
						<div class="subway">
							<div class="map">
								<img src="img/map.gif" />
								<img src="img/map2.gif" style='display:none'/>
							</div>
							<div class="map_list" >
								<ul>
									<li class="list1"><span>1</span>号线</li>
									<li class="list2"><span>2</span>号线</li>
									<li class="active"><span>13</span>号线</li>
									<li class="list4"><span>8</span>号线</li>
									<li class="list5"><span>5</span>号线</li>
								</ul>
							</div>
						</div>
						
					</div>

				</div>

				<div class="section fr">
					<h2 class="sec_title">
						<strong>BBS <span>论坛</span></strong>
						<a href="#" title="更多"><img src="img/more.gif" /></a>
					</h2>
					<div class="bbs_list">
						<ol>
							<li class="active">
								<strong>01</strong>
								<img src="img/bbs_img1.gif" />
								<a href="#">画皮之——日剧中的手机</a>
								<span>阿瑞斯</span>
								<em>ONE</em>
								<b>世说新语</b>
							</li>
							<li>
								<strong>02</strong>
								<img src="" />
								<a href="#">保你没见过的古怪餐厅</a>
								<span>阿瑞斯</span>
								<em>ONE</em>
								<b>世说新语</b>
							</li>
							<li>
								<strong>03</strong>
								<img src="" />
								<a href="#">保你没见过的古怪餐厅</a>
								<span>阿瑞斯</span>
								<em>ONE</em>
								<b>世说新语</b>
							</li>
							<li>
								<strong>04</strong>
								<img src="" />
								<a href="#">保你没见过的古怪餐厅</a>
								<span>阿瑞斯</span>
								<em>ONE</em>
								<b>世说新语</b>
							</li>
							<li>
								<strong>05</strong>
								<img src="" />
								<a href="#">保你没见过的古怪餐厅</a>
								<span>阿瑞斯</span>
								<em>ONE</em>
								<b>世说新语</b>
							</li>
							<li>
								<strong>06</strong>
								<img src="" />
								<a href="#">保你没见过的古怪餐厅</a>
								<span>阿瑞斯</span>
								<em>ONE</em>
								<b>世说新语</b>
							</li>
							<li>
								<strong>07</strong>
								<img src="" />
								<a href="#">保你没见过的古怪餐厅</a>
								<span>阿瑞斯</span>
								<em>ONE</em>
								<b>世说新语</b>
							</li>
						</ol>
					</div>
				</div>
			</div>

			<div class="main_ad">
				<img src="img/main-ad.png"/>
			</div>

			<div class="clear">		
				<div class="section fl">
					<h2 class="sec_title">
						<strong>LIFESTYLE ADVICE <span>知道分子</span></strong>
						<a href="#" title="更多"><img src="img/more.gif" /></a>
					</h2>

					<div class="pubTab">
						<ul>
							<li class="active">有人在问 
							<a href="javascript:;" class="triangle_down_red"></a>
							</li>
							<li class="gradient">有人知道 <a href="javascript:;" class="triangle_down_gray"></a>
							</li>
							<li class="gradient">热门问题<a href="javascript:;" class="triangle_down_gray"></a>
							</li>
						</ul>
					</div>

					<div class="sec_advice">
						<ul class="list_sec">
							<li class="title">
							<span class="col1">标题</span>
							<span class="col2">状态</span>
							
							</li>
							<li>
							<span class="col1"><a href="#"><span>[<em>美食</em>]</span>推荐几款性价比比较好的冰箱</a></span>
							<span class="col2"><img src="img/state1.gif" /></span>
							</li>
							<li>
							<span class="col1"><a href="#"><span>[<em>购物</em>]</span>生活中哪些商品的包装有缺陷</a></span>
							<span class="col2"><img src="img/state2.gif" /></span>
							</li>
							<li>
							<span class="col1"><a href="#"><span>[<em>休闲</em>]</span>为什么我第一次进入保姆和宠物</a></span>
							<span class="col2"><img src="img/state1.gif" /></span>
							</li>
							<li>
							<span class="col1"><a href="#"><span>[<em>美食</em>]</span>推荐几款性价比比较好的冰箱</a></span>
							<span class="col2"><img src="img/state2.gif" /></span>
							</li>
							<li>
							<span class="col1"><a href="#"><span>[<em>购物</em>]</span>生活中哪些商品的包装有缺陷</a></span>
							<span class="col2"><img src="img/state2.gif" /></span>
							</li>

					</div>
					<div class="sec_search">
						<form action="">
							搜搜谁知道：
							<input class="text" type="text" value="输入关键字" />
							<input  class="sub" type="submit" value="" />
						</form>
					</div>
				</div>

				<div class="section fr">
					<h2 class="sec_title">
						<strong>HOT <span> 红人烧客</span></strong>
						<a href="#" title="更多"><img src="img/more.gif" /></a>
					</h2>
				
					<div class="red_hot">
					<ul>
						<li><img src="img/red_hot1.gif" /> </li>
						<li><a href="#"><img src="img/red_hot2.gif "/></a></li>
						<li class="area1"><img src="img/red_hot3.gif" />
						<p>
							用户名：性感宝贝 <br />
							区域：朝阳CBD <br />
							人气：124987
						</p>
						</li>
						<li><img src="img/red_hot4.gif" /></li>
						<li><img src="img/red_hot5.gif" /></li>
						<li class="area2"><img src="img/red_hot6.gif" /> </li>
						<li class="area2"><img src="img/red_hot7.gif" /></li>
						<li><img src="img/red_hot8.gif" /></li>
						<li><img src="img/red_hot9.gif" /></li>
						<li class="area2"><img src="img/red_hot10.gif" /> </li>
						<li class="area2"><img src="img/red_hot11.gif "/></li>
					</ul>
					</div>
				</div>
			</div>

			<div class="clear">		
				<div class="section fl">
					<h2 class="sec_title">
						<strong>HELP <span>在线帮助</span></strong>
					</h2>
					<div class="sec_help">
					<p>
						您有任何问题，都可以通过全国免费电话，或者MSN在线客服与我们联系！
					</p>
					<a class="phone" href="#">4006-100-516</a>
					<a class="msn" href="#">100du.com@live.cn</a>
					</div>
					<div class="help_explain">
						<dl>
						<dt>用户帮助</dt>
						 <dd><a href="#">金币是什么</a></dd>
						 <dd><a href="#">怎么参看我的等级</a></dd>
						 <dd><a href="#">怎么赚积分</a></dd>
						</dl>
						<dl>
						<dt>用户帮助</dt>
						 <dd><a href="#">金币是什么</a></dd>
						 <dd><a href="#">怎么参看我的等级</a></dd>
						 <dd><a href="#">怎么赚积分</a></dd>
						</dl>
					</div>
				</div>

				<div class="clear">	
				<div class="section fr">
					<h2 class="sec_title">
						<strong>100DU IN THE MEDIA <span>媒体声音</span></strong>
						<a href="#" title="更多"><img src="img/more.gif" /></a>
					</h2>
					<div class="media_ad">
						
					<ul>
						<li> 
						<a  href="#" class="media_li1"><img  src="img/media_ad1.gif" /> <span>日本最大的财经杂志《钻石周刊》对100度享乐网的报道</span></a></li>
						<li>
						 
						<a  href="#"> <img   src="img/media_ad2.gif" /><span>视频网站100度享乐网获网络视听许可证</span></a>
						</li>
						<li>
						
						<a  href="#"><img  src="img/media_ad3.gif" /><span>互联网上的视频橱窗</span></a>
						</li>
						<li>
						 
						<a  href="#"> <img  src="img/media_ad4.gif" /><span>乐享主义的机会</span></a>
						</li>
					</ul>
					</div>
				</div>
			</div>
			</div>
		</div>

		<div class="side fr">
			<div class="side_load">
				<h2 class="sec_title gradient ">
					<strong>LOAD <span>登陆</span></strong>	
				</h2>

				<div class="load">
					<form action="#">
					<ul>
						<li>
						用户名：<input class="text" type="text" value="">
						<input class="check" type="checkbox">记住我
						</li>
						<li>
						密&nbsp;&nbsp;&nbsp;&nbsp;码：<input class="text" type="text">
						<input class="btn" type="button" value="登录">
						</li>
						</ul>
					</form>
				</div>
				<div class='load1'>
					<ul>
						<li><a href="#">新用户注册</a></li>
						<li><a href="#">忘记密码了</a></li>
					</ul>
				</div>
			</div>

			<div class=" ad_border">
				<a href="#" title="更多"><img src="img/side-ad1.jpg" /></a>
			</div>

			<div class="side_ad">
				<a href="#" title="更多"><img src="img/side-ad2.jpg" /></a>
			</div>

			<div class="side_section">
				<h2 class="sec_title">
					<strong>COUPONS <span>抢卷儿</span></strong>
					<a href="#" title="更多"><img src="img/more.gif" /></a>
				</h2>

				<div class="pubTab">
						<ul>
							<li class="active">人气 
							<a href="javascript:;" class="triangle_down_red"></a>
							</li>
							<li class="gradient">推荐 <a href="javascript:;" class="triangle_down_gray"></a>
							</li>
							<li class="gradient">最新<a href="javascript:;" class="triangle_down_gray"></a>
							</li>
						</ul>
					</div>

					<div class="side_coupons">
						<ul class="list_sec">
							<li class="title">
							<span class="col1">商店名</span>
							<span class="col2">省</span>
							<span class="col3">打印</span>
							</li>
							<li>
							<span class="col1"><a href="#">老北京一尊皇牛</a></span>
							<span class="col2">12%</span>
							<span class="col3">345</span>
							</li>
							<li>
							<span class="col1"><a href="#">老北京一尊皇牛</a></span>
							<span class="col2">12%</span>
							<span class="col3">345</span>
							</li>
							<li>
							<span class="col1"><a href="#">老北京一尊皇牛</a></span>
							<span class="col2">12%</span>
							<span class="col3">345</span>
							</li>
							<li>
							<span class="col1"><a href="#">老北京一尊皇牛</a></span>
							<span class="col2">12%</span>
							<span class="col3">345</span>
							</li>
							<li>
							<span class="col1"><a href="#">老北京一尊皇牛</a></span>
							<span class="col2">12%</span>
							<span class="col3">456</span>
							</li>
						</ul>
					</div>
			</div>

			<div class="side_section">
				<h2 class="sec_title">
					<strong>SHOP <span>今日推荐</span></strong>
					<a href="#" title="更多"><img src="img/more.gif" /></a>
				</h2>
				<div class="shop_rec">
					<ul class="pic_list">
						<li class="rec1">
							<a  class="img fl" href="#" >
								<img src="img/shop_img.gif" alt="内容图片" />
								<img class="sale_20" src="img/sale_20.gif" />
							</a>
							<div class="text fl">
								<h3><a href="#">汉莱国际美食汇</a></h3>
								<p>
									口味：<a href="#">创意中餐</a><br/>
									区域：<a href="#">朝阳/CBD</a>
								</p>
							</div>
						</li>
						<li>
							<a  class="img fl" href="#" >
								<img src="img/shop_img.gif" alt="内容图片" />
								<img class="sale_20" src="img/sale_20.gif" />
							</a>
							<div class="text fl">
								<h3><a href="#">汉莱国际美食汇</a></h3>
								<p>
									口味：<a href="#">创意中餐</a><br/>
									区域：<a href="#">朝阳/CBD</a>
								</p>
							</div>
						</li>
						<li>
							<a  class="img fl" href="#" >
								<img src="img/shop_img.gif" alt="内容图片" />
								<img class="sale_20" src="img/sale_20.gif" />
							</a>
							<div class="text fl">
								<h3><a href="#">汉莱国际美食汇</a></h3>
								<p>
									口味：<a href="#">创意中餐</a><br/>
									区域：<a href="#">朝阳/CBD</a>
								</p>
							</div>
						</li>
						<li>
							<a  class="img fl" href="#" >
								<img src="img/shop_img.gif" alt="内容图片" />
								<img class="sale_20" src="img/sale_20.gif" />
							</a>
							<div class="text fl">
								<h3><a href="#">汉莱国际美食汇</a></h3>
								<p>
									口味：<a href="#">创意中餐</a><br/>
									区域：<a href="#">朝阳/CBD</a>
								</p>
							</div>
						</li>
						</ul>			
				</div>
			</div>

			<div class="side_section">
				<h2 class="sec_title">
					<strong>360<sup>o</sup>SHOP <span>全景逛店</span></strong>
					<a href="#" title="更多"><img src="img/more.gif" /></a>
				</h2>
				<div class="shop360" >
					<a href="#"><img src="img/360shop_pic.gif" />
					<span>苹果雪梨排骨汤</span></a>	
				</div>
			</div>

			<div class="side_section">
				<h2 class="sec_title">
					<strong>SHOP <span>折扣店</span></strong>
					<a href="#" title="更多"><img src="img/more.gif" /></a>
				</h2>
				<div class="shop_sale ">
					<ul class="pic_list">
						<li>
							<a  class="img fl" href="#" >
								<img src="img/shop_img.gif" alt="内容图片" />
								<img class="sale_20" src="img/sale_20.gif" />
							</a>
							<div class="text fl">
								<h3><a href="#">汉莱国际美食汇</a></h3>
								<p>
									口味：<a href="#">创意中餐</a><br/>
									区域：<a href="#">朝阳/CBD</a>
								</p>
							</div>
						</li>
						</ul>			
				</div>
				<div class="side_shop">
						<ul class="list_sec">
							<li><a href="#"><span>[<em>休闲</em>]</span>瀚茶缘（雍和宫店）</a></li>
							<li><a href="#"><span>[<em>休闲</em>]</span>瀚茶缘（雍和宫店）</a></li>
							<li><a href="#"><span>[<em>美食</em>]</span>老北京一尊皇牛</a></li>
							<li><a href="#"><span>[<em>购物</em>]</span>老北京一尊皇牛</a></li>
							<li><a href="#"><span>[<em>美食</em>]</span>瀚茶缘（雍和宫店）</a></li>
							<li><a href="#"><span>[<em>美食</em>]</span>老北京一尊皇牛</a></li>
							<li><a href="#"><span>[<em>休闲</em>]</span>瀚茶缘（雍和宫店）</a></li>
							<li><a href="#"><span>[<em>休闲</em>]</span>瀚茶缘（雍和宫店）</a></li>
						</ul>
					</div>
			</div>

			<div class="side_section">
				<h2 class="sec_title">
					<strong>COUPONS <span>最新加盟</span></strong>
					<a href="#" title="更多"><img src="img/more.gif" /></a>
				</h2>
				<div class="coup_ad ">
					<ul class="pic_list clear">
						<li class="fl">
							<a  class="img " href="#" >
								<img src="img/shop_img.gif" alt="内容图片" />
								
							</a>
							<div class="text">
								<h3><a href="#">汉莱国际美食汇</a></h3>
								<p>
									口味：<a href="#">创意中餐</a><br/>
									区域：<a href="#">朝阳/CBD</a>
								</p>
							</div>
						</li>
						<li class="fr">
							<a  class="img" href="#" >
								<img src="img/hot_list1.gif" alt="内容图片" />
								
							</a>
							<div class="text">
								<h3><a href="#">汉莱国际美食汇</a></h3>
								<p>
									口味：<a href="#">创意中餐</a><br/>
									区域：<a href="#">朝阳/CBD</a>
								</p>
							</div>
						</li>
						</ul>			
				</div>
				<div class="side_new">
						<ul class="list_sec">
							<li><a href="#"><span>[<em>休闲</em>]</span>瀚茶缘（雍和宫店）</a></li>
							<li><a href="#"><span>[<em>休闲</em>]</span>瀚茶缘（雍和宫店）</a></li>
							<li><a href="#"><span>[<em>美食</em>]</span>老北京一尊皇牛</a></li>
							<li><a href="#"><span>[<em>购物</em>]</span>老北京一尊皇牛</a></li>
							<li><a href="#"><span>[<em>美食</em>]</span>瀚茶缘（雍和宫店）</a></li>
							<li><a href="#"><span>[<em>休闲</em>]</span>瀚茶缘（雍和宫店）</a></li>
						</ul>
				</div>
				</div>
			</div>
	</div>
	<div id="footer">

		<ul>
			<li><a href="#">关于我们</a>|</li>
			<li><a href="#">联系我们</a>|</li>
			<li><a href="#">版权申明</a>|</li>
			<li><a href="#">加入我们</a>|</li>
			<li><a href="#">问题反馈</a>|</li>
			<li><a href="#">友情链接</a>|</li>
			<li><a href="#">网站地址</a>|</li>
			<li><a href="#">视频索引</a></li>
		</ul>
		<p>
			Copyright©2008 &nbsp;www.100du.com &nbsp;100度乐享网
			&nbsp;版权所有 <a href="#"> 京ICP证070374号</a>
	</div>
	<script type="text/javascript" src="js/du100.js"></script>
</body>
</html>