/* 样式重置(reset)*/
body,h1,h2,h3,h4,p,dl,dd,ul,ol,form,input,textarea,th,td,select{margin:0;padding:0;}
em {font-style:normal;} /*去掉em的斜体*/
li {list-style:none;}
a {text-decoration:none;color:#000;}
img {border:none;vertical-align:top;} /*去掉外框 然后对齐*/
table {border-collapse:collapse;}
input,textarea {outline:none;} /*chrome下外边框高亮去掉*/
body {font-size:12px;font-family:"微软雅黑";}


/* 公共样式 public*/
.fl {float:left;}
.fr {float:right;}
.clear {zoom:1;}
.clear:after {content:'';display:block;clear:both;}

/* 渐变 */
.gradient{
	background:-moz-linear-gradient(top,#ffffff,#f9f9f9); /*火狐浏览器*/
	background:-webkit-linear-gradient(top,#ffffff,#f9f9f9); /*safari chrome*/
	background:-ms-linear-gradient(top,#ffffff,#f9f9f9);  /*IE10*/
	background:linear-gradient(top,#ffffff,#f9f9f9); /*其他可识别该语句的浏览*/

器
	-ms-filter: "progid:DXlmageTransform.Microsoft.gradient
 
(GradientType=0, startColorstr=#ffffff,endColorstr=#f9f9f9)"; /*IE 8 9 支持滤镜*/

	+background:#fcfcfc;  /*IE 6 7 不支持css3渐变 所以取中间值*/
}

/* 三角形 */
.triangle_up,.triangle_down_red,.triangle_down_gray {
	width:0; height:0; overflow:hidden; 
	border-left:4px solid transparent;
	border-right:4px solid transparent;
}
.triangle_up { border-bottom:4px solid #cc0d13;}
.triangle_down_red { border-top:4px solid #cc0d13; }
.triangle_down_gray { border-top:4px solid #c1c1c1; }

/* end public */


/*layout 布局模块样式*/

 #header, #nav, .content { margin:0 auto;width:960px;}
 #search, .section, .side_section, .ad_border, #footer ,.activity, .recommend { border:1px solid #dbdbdb; border-radius:6px;}
 .section, .options, .main_ad, .side_section, .side_ad, .ad_border { margin-bottom: 10px}
 
 body { margin-bottom:30px;}

 #header { height:30px; border-radius:0 0 6px 6px; }
 #nav {  height:100px; background:#ffffff;position:relative; }
 #search {  position:relative; margin:0 auto 10px; width:958px; height:114px;}
 
 .content {}
 
 .main { width:710px; }
 .section { width:318px;  padding:0 15px;  }


 .options { width:350px; position:relative;}

 .main_ad { width:710px; height:90px; border-radius:6px; overflow: hidden;}
 
 /* 侧边栏 */
 .side{ width:240px;}
 .side_section { /* height:50px; */padding:0 12px; }
 .side_ad { overflow: hidden; border-radius:6px;}
 .ad_border{ overflow:hidden;width:238px;height:88px;}
 
 #footer {width:958px; height:78px; margin:0 auto; background:#f9f9f9;}

 /*options 内的相关内容  */
 .options .tab { height:34px; position:relative; z-index:2; }
 .options .tab li { position:relative; width:172px; height:33px; line-height:33px; text-align:center; cursor:pointer;border:1px solid #dbdbdb;border-bottom:none;border-radius:6px 6px 0 0 ;}
 .options .tab li:nth-child(2){margin-left:2px}
 .options .tab .active { width:172px; height:34px; line-height:34px; background:#ffffff;}
 .options .con{ width:318px; padding:0 15px; border:1px solid #dbdbdb;border-radius:0 0 6px 6px; 
 	position:absolute; top:34px; left:0; z-index:1;}

 /* 头部内容 */
 #header .city { padding-left: 20px;margin-top: 5px; }
 #header .city a {display:inline-block;padding:0 7px;border:1px solid #e6e6e6; border-radius:3px;box-shadow:1px 1px 0 #f1f1f1;height:18px;line-height: 18px; background:#ffffff;color:#999999;}
 #header .city  .active,#header .city .active:hover{color:#d60d03;background:#fff;}
 #header .city a:hover {background:#f1f1f1;}

 #header .link { float:right;line-height: 30px; padding-right: 20px; color:#d5d5d5; word-spacing:4px; }
 #header .link a { color:#666; padding-left: 20px; background:url(../img/header.jpg) no-repeat 0 3px; }
 #header .link a:hover {text-decoration: underline;}

 #header .link .ico1 { background-position:0 3px; }
 #header .link .ico2 { background-position:0 -12px;}

 /* nav部分 导航部分 */

 #nav ul { position:absolute;top:10px; }
 #nav ul li { float:left; }
 #nav li a { display:block;color:#333;width:66px;padding-top:50px;text-align:center;background:url(../img/nav-bg.png) no-repeat; }
 #nav .nav_l { left:11px; }
 #nav .nav_r { right:11px;}
 #nav h1 { width:223px;height:65px;margin:0 auto; position:relative; top:10px; }
 
 #nav .bg1 { background-position:0 0;}
 #nav .bg2 { background-position:-66px 0; }
 #nav .bg3 { background-position:-132px 0; }
 #nav .bg4 { background-position:-198px 0; }
 #nav .bg5 { background-position:-264px 0; }
 #nav .bg6 { background-position:-330px 0; }
 #nav .bg7 { background-position:-396px 0; }
 #nav .bg8 { background-position:-462px 0; }
 #nav .bg9 { background-position:-528px 0; }
 #nav .bg10 { background-position:-594px 0; }
 
 #nav .bg1:hover { background-position:0 -72px;}
 #nav .bg2:hover { background-position:-66px -72px; }
 #nav .bg3:hover { background-position:-132px -72px; }
 #nav .bg4:hover { background-position:-198px -72px; }
 #nav .bg5:hover { background-position:-264px -72px; }
 #nav .bg6:hover { background-position:-330px -72px; }
 #nav .bg7:hover { background-position:-396px -72px; }
 #nav .bg8:hover { background-position:-462px -72px; }
 #nav .bg9:hover { background-position:-528px -72px; }
 #nav .bg10:hover { background-position:-594px -72px; }

/*  ********************************************** */
 
 /* 搜索区域 */
 #search .bar { width:958px; height:64px; border:1px solid #c40d0e;background:#e21c01; position:absolute; top:16px; left:-1px;
  border-radius:5px; box-shadow:2px 3px 2px #dcdcdc; }
 #search .menu { position:absolute; left:226px; top:-27px; }
 #search .menu li { float:left; width:78px;background:#fff; height:25px; line-height:25px; margin-right:1px; border:1px solid #f8d0bf; border-bottom:none; text-align: center; font-size:14px; cursor:pointer; border-radius:5px 5px 0 0;  }
 #search .menu .active { height:27px; position:relative; top:-1px; background:#e21c01; color:#fff; font-weight:bold; border:1px solid  #e21c01; }
 #search .search_img { width:163px; height:122px; background:url(../img/search_img.png) no-repeat;position:absolute; left:32px; top:-3px; z-index:2; }

 #search .form { position:absolute; left:226px; top:36px; z-index:3; }
 #search .text, #search .colorBlack { float:left; margin-right:10px; padding:0 12px; width:380px; height:22px; line-height:22px; color:#ea7a7a; border:none; background:#fff1ef; border-radius:3px; box-shadow: 2px 2px 3px #cd928a;}
 #search .colorBlack { color:#424242; }
 #search .sub { float:left; width:62px; cursor:pointer; height:24px; border:none; background:url(../img/search_img.png) no-repeat -163px 0; }

 #search .key_text { width:206px; line-height:18px; color:#fff; position:absolute; top:30px; right:35px;}
 #search .key_text a { color:#fff;}
 #search .key_text a:hover {text-decoration:underline;}

 #search .update { width:405px; height:30px; position:absolute; left:226px; bottom:0; background:url(../img/search_img.png) no-repeat -226px 8px; }
 #search .cont { width:336px; height:30px; overflow:hidden;margin-left: 60px; position:relative;}
 #search .cont ul {position:absolute;}
 #search .update li { height:30px; line-height:30px; }
 #search .update a { color:#000; }
 #search .update strong { color:#d30703; font-weight:normal; }
 #search .update span { color:#999; }
 #search .triangle_up {position:absolute; top:8px; right:0;}
 #search .triangle_down_red {position:absolute; top:17px; right:0;}
/* end 搜索区域 */


/* main */

/* main左边播放部分 */
.content .video_title { position:relative;height:42px;line-height:42px;background:url(../img/video_bg.gif) no-repeat 105px 9px;color:#d90000; font-size:18px; font-family:arial; font-weight:normal; }
.content .video_title sup { position:absolute; top:-9px; font-family:'宋体'; }
.content .video { margin-bottom:13px; }
.content .video_list { padding-left:75px; height:66px; margin-bottom:13px;background:url(../img/video_bg.gif) no-repeat 3px -37px; }
.content .video_list li { height:20px;line-height:20px; text-indent:14px; background:url(../img/dian.gif) no-repeat 5px center; }
.content .video_list a { color:#4d4d4d; }
.content .video_list a:hover { text-decoration:underline; }

/* main右边hot列表 */
 .list_hot { margin-top:15px; position:relative; height:369px;}
 .list_hot li { width:318px; height:108px; background:url(../img/hot_list_bg.gif) no-repeat; margin-bottom:6px;}
 .list_hot .hot_img { position:relative; float:left; display:block; width:104px; height:84px;border:1px solid #e6e6e6; }
 .list_hot .hot_img .sale_20 {position:absolute; top:48px; left:70px; }
 .list_hot .hot_img:hover { border:1px solid #f42b00; }
 .list_hot .hot_text { float:right; width:190px; }
 .list_hot h3 { line-height:24px; }
 .list_hot h3 a { color:#bb0d0d; font-size:12px; font-weight:normal; }
 .list_hot p { color:#6e6e6e; line-height:16px }
 .list_hot .more { position:absolute; bottom:10px; right:15px;} 
 
/* end 右边hot列表*/

/* 每日活动与精彩推荐 */
.new_title { height:70px; position:relative;background:url(../img/new_title_bg.gif) no-repeat  right 0 ; }
.new_title span,.new_title strong { position:absolute; left:23px; }
.new_title span { top:31px; font-size:24px; color:#333333;  }
.new_title strong { top:18px; font-size:12px; line-height:18px; font-family:Arial; color:#ea2b31; }
.new_title em { position:absolute; top:17px; left:126px; font-size:32px; font-weight:bold; color:#ec1c16;}

.act_rec {margin-bottom:10px;}
.activity { width:348px;float:left; } 
.recommend { width:348px; float:right;  }
.recommend .new_title {  background-position:right -70px;}

.activity .actCon { clear:both; padding:0 23px 22px; background:url(../img/activity_bg.gif) no-repeat 22px 0; }
.activity .info { padding-top:16px; height:104px; }
.activity .act_img  { width:84px; height:84px;float:left; }
.activity .act_text { float:left; width:206px; padding-left:12px;}
.activity .info h3 { height:32px;  }
.activity .info em {  display:inline-block; width:22px; height:23px; text-align:center; line-height:23px; color:#d41913; border:1px solid #efefef; border-radius:5px; }
.activity .info span { margin-left:6px; } 
.activity .info p { color:#999999; font-size:12px; line-height:18px;}

/* 日历部分 */
.activity .calendar { width:300px; padding-right:4px; position:relative; }
.activity .calendar h3 { height:34px; line-height:34px; text-align:center; word-spacing:8px; background:url(../img/calendar.gif) repeat-x; }
.activity .calendar h3  span { font-size:14px; font-family:arial; }
.activity .calendar ol {}
.activity .calendar li { position:relative; width:40px; height:40px; line-height:40px; margin:0 0 2px 2px; float:left; text-align:center; background:#ededed; }
.calendar ol .normal { color:#d8d8d8; background:#f8f8f8; }
.calendar ol .active { width:36px; height:36px; border:2px solid #d30408; position:absolute; top:0; left:0;}
.calendar ol .img { width:38px; height:38px;  position:absolute; top:0; left:0; }

.today_info { position:absolute; left:218px; top:126px; display:none; width:298px; height:84px; padding:10px; background:#fff; border:1px solid #c0c0c0;}
.today_info .img { width:80px; height:80px; float:left; border:2px solid #dddddd;}
.today_info .text { float:right;  width:210px;}
.today_info h4 { color:#333; }
.today_info strong { color:#cccccc; font-size:16px; margin-right: 5px; }
.today_info p { color:#999; line-height:18px; }
.today_info span { position:absolute; left:-6px; top:40px; width:8px; height:14px; background:url(../img/calendar.gif) no-repeat 0 -44px;  }

/*精彩推荐*/
.recommend .autoPic { width:294px; height:168px; position:relative;padding:12px 12px 0; margin:0 15px; background:#f8f8f8; border-radius:5px;}
.recommend .autoPic ul { width:223px; height:133px;  }
.autoPic ul li { width:223px; height:133px;border:1px solid #fff; position:absolute; left:12px; top:12px;}
.autoPic ul img { width:223px; height:133px; }
.recommend .autoPic ol { width:54px; height:30px; position:absolute; right:12px; top:12px;}
.autoPic ol li { width:54px; height:30px; border:3px solid #fefefe; margin-bottom:13px;}
.autoPic ol img { width:54px; height:30px; }
.autoPic ol .active { border:3px solid #d6191d; }
.autoPic p { position:absolute; left:12px; bottom:0; line-height:32px;}

.recommend .recomm_list { width:318px; height:248px; margin:0 15px;}
.recommend .recomm_list ul { padding-top:24px;}
.recommend .recomm_list ul li { height:12px; padding-left:10px; margin-bottom:15px; }
.recommend .recomm_list li img { width:13px; margin:3px 8px 0 0 ;   }
.recommend .recomm_list li span { color:#dfdfdf; font-size:12px; }
.recommend .recomm_list li a { color:#454545; margin-left:6px; }
.recommend .recomm_list li em { color:#999999; float:right; margin-right:12px; margin-top:4px; line-height:6px; }
/* end 每日活动与精彩推荐 */

/* 地铁交通 */
.options .subway { }
.subway .map { width:318px; height:196px; padding-top:30px; }
.subway .map_list { clear:both; height:68px;}
.subway .map_list ul { padding-left:9px;}
.subway .map_list li { float:left; margin-top:20px; width:53px; height:23px; line-height:23px; color:#3e3e3e; text-align:center; margin-right:5px; background:#f1f1f1; border:1px solid #de0602; border-radius:5px; }

.subway .list1 span { color:#de0602; }
.subway .map_list .list2 { border:1px solid #003399;}
.subway .list2 span { color:#003399; }
.subway .map_list .active { height:25px; background:#ff9900; color:#fff; border:none; }
.subway .active  span { color:#fff; }
.subway .map_list .list4 { border:1px solid #cc0000; }
.subway .list4 span { color:#cc0000; }
.subway .map_list .list5 { border:1px solid #903077; }
.subway .list5 span { color:#903077; }

/* bbs */
.bbs_list {  }
.bbs_list ol { padding-bottom:17px; }
.bbs_list ol li { height:30px; line-height:30px; margin-bottom:3px; background:#f1f1f1; position:relative; border-radius:6px;}
.bbs_list li strong, .bbs_list li a  { float:left; }
.bbs_list li strong { color:#df4040; width:45px; text-indent:10px;}
.bbs_list li span { top:px; left:45px; }
.bbs_list li a { color:#333333; top:8px; left:45px; }
.bbs_list li a:hover { text-decoration:underline; }
.bbs_list li span,.bbs_list li em ,.bbs_list li img  { display:none; }
.bbs_list li b { color:#666666; float:right; margin-right:22px; font-weight:normal; }

.bbs_list .active { height:70px; background:#d90000; }
.bbs_list .active img ,.bbs_list .active a, .bbs_list .active span, .bbs_list .active em { position:absolute;} 
.bbs_list .active img { display:block; left:10px; top:10px; }
.bbs_list .active a { top:6px; left:70px; font-weight:bold; color:#fff;  }
.bbs_list .active span { display:block; top:32px; left:70px; color:#fff;}
.bbs_list .active em { display:block; color:#fff; font-size:25px; font-weight:bold; bottom:-6px; right:4px;}
.bbs_list .active b { display:none; }

/* 红人烧客 */
.red_hot { height:258px; }
.red_hot ul {  }
.red_hot li { float:left; position:relative; margin: 0 2px 2px 0;}
.red_hot li img, .red_hot li { width:78px; height:78px; }
.red_hot .area1,.red_hot .area1 img { width:156px; height:78px; }
.red_hot .area2,.red_hot .area2 img { width:77px; }
.red_hot li p {width:144px; height:66px; line-height:18px; position:absolute; top:0; left:0;padding:12px 0  0 12px ; background:rgba(0,0, 0, 0.5); color:#fff; }



/* main 在线帮助部分 */
.sec_help { padding-top:15px; }
.sec_help p { line-height:18px; color:#333333; text-indent:30px;}
.sec_help a { display:inline-block; width:120px; height:33px;margin-top:7px;/*text-indent:24px;*/ padding-left:24px; }
.sec_help .phone { color:#b80000; background:url(../img/help1.gif) no-repeat; }
.sec_help .msn { color:#333333;background:url(../img/help2.gif) no-repeat; }
.help_explain { border-top:1px solid #ededee; height:96px; padding-top:20px;}
.help_explain dl { width:155px; float:left;  color:#292929;  }
.help_explain dt  { padding-left:10px; font-size:12px; line-height:18px; font-weight:bold; }
.help_explain dd a { padding-left:24px; background:url(../img/dian.gif) no-repeat 15px 9px ;}
.help_explain dd a:hover { text-decoration:underline; }

/* main媒体声音 */
.media_ad { padding:15px 0 33px 0; width:318px; }
.media_ad li { clear:both; height:35px; padding-left:91px;padding-bottom:5px;position:relative; }
.media_ad li span{display:block; font-size:12px;  height:35px; line-height: 35px; margin-left:7px;}
.media_ad li .media_li1 span {line-height:18px;}
.media_ad li a img {  width:91px; height:35px; position:absolute; top:0; left:0;}


/* footer 部分 */
#footer ul { padding:20px 0 10px 206px; }
#footer li { float:left; width:70px; height:19px; color:#919191;}
#footer li a { color:#454545; margin-right:10px;}
#footer li a:hover ,#footer p a:hover{ text-decoration:underline; }
#footer p {clear:both; text-indent:280px; color:#767676;}
#footer p a { color:#767676; margin-left:19px;}

/* 侧边栏 */

/* load 登录 */
 .side_load { margin-bottom:10px;width:238px;  height:138px; border:1px solid #e5e5e5;border-top:none; border-radius:6px;}
 .side_load .sec_title,.load { border-bottom:1px solid #e5e5e5;padding:0 12px; }
 .side_load .sec_title { height:34px; border-top:1px solid #e5e5e5;border-radius:6px 6px 0 0;}
 .load { width:214px; height:64px; padding-top:7px 12px 0;}
 .load li { margin-top:7px; color:#666666; font-size:12px; line-height:16px; text-indent:9px;}
 .load li .text { width:85px; height:15px; margin-right:6px; background:#f7f7f7; }
 .load li .check {margin-right:3px;} 
 .load .btn { width:54px; height:22px;box-shadow:2px 2px #c4c4c4;color:#fff; font-family:'微软雅黑'; font-size:12px; background:#ec0000;border:none;border-radius:9px; cursor:pointer; }
 .load1 { padding:0 12px; }
 .load1 li { float:left; width:107px;  height:33px; line-height:33px; background:url(../img/dian.gif) no-repeat 17px 15px; text-indent:26px; }
 .load1 li a {color:#666;}

/* end 登录 */

/* 全景逛店 */
.shop360 { height:138px; clear:both;}
.shop360  a{ position:relative; color:#333333; display:block;}
.shop360  a img { position:absolute; top:0px; left:0; }
.shop360  a:hover { text-decoration:underline; }
.shop360  a span { position:absolute; top:116px; left:0; }


/* 头部文字设置 */

/* .tab strong { font-family:arial; color:#cc0d13; }
.tab span { font-family:"微软雅黑"; color:#010000; } */

.tab .triangle_down_red,.tab .triangle_down_gray { position:absolute; top:14px; right:12px; }
 
.sec_title { font-size:12px; height:40px; line-height:40px; position:relative;}
.sec_title strong,.tab strong { font-family:arial; color:#cc0d13;}
.sec_title span,.tab span { font-family:"微软雅黑"; color:#010000;}
.sec_title a { position:absolute; right:0; top:15px; }

/* end 头部文字 */

/* 内部选项卡公用 */
.pubTab { height:25px; border-bottom:1px solid #dadada;  }
.pubTab ul { height:26px;  margin-bottom:-1px; position:relative;  }
.pubTab li {  position:relative;  float:left; line-height:24px; text-align:center; color:#666666; margin-right:-1px;border:1px solid #dadada; border-radius:4px 4px 0 0; }
.pubTab .active { border-bottom:1px solid #fff; background:#fff; color:#454545; font-weight:bold; }
.pubTab .triangle_down_red,.pubTab .triangle_down_gray { position:absolute;  top:12px; right:12px; }
 
/*  end 内部选项卡公用 */
 .section .pubTab { padding:0 10px; }
 .section .pubTab li { width:98px;   }

 .side_section .pubTab { padding:0 6px; height:23px; }
 .side_section .pubTab ul {height:24px;}
 .side_section .pubTab li { width:66px;  line-height:22px;}


 /* 列表公用 */
 .list_sec {}
 .list_sec li { height:27px; line-height:27px; border-top:1px dotted #cbcbca; background:url(../img/dian.gif) no-repeat 5px center; }
 .list_sec li a { color:333333; display:block; text-indent:13px; }
 .list_sec li a:hover { text-decoration:underline; }
 .list_sec li a span { color:#c3c3c3; }
 .list_sec li a em { color:#c75d61;  }
 
 .list_sec .col1,.list_sec .col2,.list_sec .col3 {float:left;}
 .list_sec .col2,.list_sec .col3 {text-align:center;}

 .list_sec .title { background:none; color:#999999; text-indent:0; border-top:none; text-align:center; }
 /* end 列表公用 */

/* 选项卡内部列表 */
 .side_coupons {padding:3px 0 4px 0;}
 .side_shop {padding-bottom:1px;}
 .side_new {padding-bottom:10px;}
 .side_section .col1 { width:134px;  }
 .side_section .col2 { width:38px; color:#d80000;}
 .side_section .title .col2{color:#999999; }
 .side_section .col3 { width:37px; }
 
 .sec_advice {padding-top:3px; height:167px;}
 .section .col1 { width:270px;  }
 .section .col2 { width:38px;  }
 .section .col2 img { margin-top:9px; }

/* 知道分子底部搜索 */
 .section .sec_search { position:relative;height:61px; border-top:1px dotted #cbcbca;  }
 .section .sec_search form { position:absolute; left:12px; top:17px; color:#595959;}
 .section .sec_search .text { width:172px; padding:0 4px;height:20px; line-height:20px; color:#9c9c9c;}
 .section .sec_search .sub { position:absolute; top:0; left:274px; cursor:pointer;border:none;width:25px; height:25px; background:url(../img/sec_search.gif) no-repeat; }


 /* end选项卡内部列表 */

 /* 侧边栏 shop */

 .side_section .shop_sale { height:83px; }
 .side_section .shop_rec { height:378px; }
 .side_section .shop_rec li { border-bottom:1px dotted #cbcbca; margin-top:10px; }
 .side_section .shop_rec .rec1 {margin-top:0;}


 /* 图片广告列表 */
 .pic_list li { position:relative;overflow:hidden; height:83px;}
 .pic_list .img { display:block; width:90px; height:67px; padding:2px; border:1px solid #dadada; }
 .pic_list .img:hover{border:1px solid #f42b00;}
 .pic_list .img .sale_20 {position:absolute; top:36px; left:58px;}
 .pic_list .text {  margin-left:12px; margin-top:10px;}
 .pic_list .text h3 { }
 .pic_list .text h3 a { color:#b80000; font-size:12px; font-weight:normal; line-height:24px }
 .pic_list .text h3 a:hover { text-decoration:underline; }
 .pic_list .text p a{ color:#666666; line-height:18px; }
 .pic_list .text p a:hover { text-decoration:underline; }
 .pic_list .text p { color:#999999; line-height:18px}

/*最新加盟板块 */
 .coup_ad  li { height:150px; }
 .coup_ad  .text { margin-left:2px; margin-top:0; }
 .coup_ad  .text h3 a { line-height:30px }
 